<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>
    <style>
        body{
            width: 100%;
            margin: 0;
        }
        .box{
            background: url('/images/404.png') no-repeat;
            width: 60%;
            height: 500px;
            background-size: 100% 100%;
            margin: 100px auto;
        }
    </style>
</head>
<body>
    <div class='box'></div>
</body>
</html>