<footer>
    <div class='footer-box'>
        <div class="footer-link">
            <a href="#" target="_blank" title="意见反馈">意见反馈</a>
            <a href="#" target="_blank" title="友情链接">友情链接</a>
            <a href="/vue/index.html" target="_blank" title="友情链接">管理登录</a>
        </div>
        <div class='footer-copyright'>
            <div class='copyright-left'>
                <p>版权所有 Copyright© 2002-2017</p>
                <p>广东财经大学流通经济研究所</p>

            </div>
            <div class='copyright-right'>
                <p>联系电话：020-84096050 84096319</p>
                <p> 传真号码：020-84096050</p>
            </div>
        </div>
    </div>
</footer>