<footer>
    <div class='footer-box'>
       
           <div class='copyright-left'>
            <div class="footer-link">
            <a href="/feedback" target="_blank" title="意见反馈">意见反馈</a>
            <a href="/links" target="_blank" title="友情链接">友情链接</a>
            <a href="/vue.html" target="_blank" title="友情链接">管理登录</a>
        </div>
                <p>联系电话：020-84096050 84096319</p>
       
                 <p>版权所有 Copyright© 2002-2017</p>
                <p>广东财经大学商贸流通经济研究所</p>
            </div>
            <div class='copyright-right'>
                <div class='qr-box'>
                    <img src='/images/qr1.jpg' class='footer-qr'>
                    <p>华南商业智库微信</p>
                    
                </div>
                <div class='qr-box'>
                    <img src='/images/qr2.png' class='footer-qr'>
                    <p>中国流通评论微博</p>
                    
                </div>
            </div>
    </div>
</footer>