<header>
     <div class="header_name">  
            <div class='header_logo'>
                <a target='_blank'  href="http://lococo.site/">
                <img src='/images/logo.png' alt="流通研究所" class='logo_img'> </a>
            </div>
            <div class="header_banner">
                 <p>广东省重点智库华南商业智库</p> 
                 <p>广州现代物流与电子商务发展研究基地</p>
                
            </div>
            
    </div>

    <div class='header_nav'>
        <ul class='nav_box'>
             <li class='nav_item'>
                <a   href='#'> 研究院概况                  
                </a>
                <div class='item_content'>
                    <a target='_blank' href='/introduction/index' >本院简介</a>
                    <a target='_blank'  href="/introduction/researchdir">研究方向</a>
                    <a target='_blank'  href='/introduction/team/catalog'>研究团队</a>
                </div>
            </li>
            <li class='nav_item'>
                <a  href=''> 科研资讯                   
                </a>
                <div class='item_content'>
                    <a target='_blank' href='/showArticle/catalog?sort=information&type=1'>科研简讯</a>
                    <a target='_blank' href='/showArticle/catalog?sort=information&type=2'>媒体报道</a>
                </div>
            </li>
            <li class='nav_item'>
                <a href=''>科学研究
                   
                </a>
                <div class='item_content'>
                  <a target='_blank' href='/showArticle/catalog?sort=research&type=1'>课题研究</a>
                  <a target='_blank' href='/showArticle/catalog?sort=research&type=2'>调研考察</a>
                  
                </div>
            </li>
            <li class='nav_item'>
                <a href=''>科研成果
                   
                </a>
                <div class='item_content'>
                    <a target='_blank' href='/showArticle/catalog?sort=achievement&type=1'>著作</a>
                    <a target='_blank' href='/showArticle/catalog?sort=achievement&type=2'>学术论文</a>
                    <a target='_blank' href='/showArticle/catalog?sort=achievement&type=3'>研究报告</a>
                </div>
            </li>
            <li class='nav_item'>
                <a href=''>学术交流
                   
                </a>
                <div class='item_content'>
                    <a target='_blank' href='/showArticle/catalog?sort=exchange&type=1'>学术会议</a>
                    <a target='_blank' href='/showArticle/catalog?sort=exchange&type=2'>流通论坛</a>
                    <a target='_blank' href='/showArticle/catalog?sort=exchange&type=3'>来访交流</a>
                </div>
            </li>           
             <li class='nav_item'>
                <a href='#'> 咨询服务                 
                </a>
                <div class='item_content'>
                    <a target='_blank' href='/showArticle/catalog?sort=advisory&type=1'>政府咨询</a>
                    <a target='_blank' href='/showArticle/catalog?sort=advisory&type=2'>企业咨询</a>
                    <a target='_blank' href='/showArticle/catalog?sort=advisory&type=3'>培训课程</a>
                </div>
            </li>
             <li class='nav_item'>
                <a href='#'> 智库专家                  
                </a>
                <div class='item_content'>
                    <a target='_blank' href='/showArticle/expert/catalog'>专家介绍</a>
                    <a target='_blank' href='/showArticle/catalog?sort=dynamic&type=1'>专家动态</a>
                </div>
            </li>
        </ul>
    </div>
  
</header>