<header>
     <div class="header_name">  
            <div class='header_logo'>
                <a href="http://lococo.site/">
                <img src='/images/logo_1.png' alt="流通研究所" class='logo_img'> </a>
                <a href="http://lococo.site/">
                <img src='/images/logo_2.jpg' alt="流通研究所" class='logo_1_img' style='width:120px'> </a>
            </div>
            <div class="header_banner">
                <div class="banner_a1">广州现代物流与电子商务发展研究基地</div>
            </div>
    </div>

    <div class='header_nav'>
        <ul class='nav_box'>
           
            <li class='nav_item'>
                <a href=''> 科研资讯                   
                </a>
                <div class='item_content'>
                    <a href='/showArticle/catalog?sort=information&type=1'>科研简讯</a>
                    <a href='/showArticle/catalog?sort=information&type=2'>媒体报道</a>
                </div>
            </li>
            <li class='nav_item'>
                <a href=''>科学研究
                   
                </a>
                <div class='item_content'>
                  <a href='/showArticle/catalog?sort=research&type=1'>课题研究</a>
                  <a href='/showArticle/catalog?sort=research&type=2'>调研考察</a>
                  
                </div>
            </li>
            <li class='nav_item'>
                <a href=''>科研成果
                   
                </a>
                <div class='item_content'>
                    <a href='/showArticle/catalog?sort=achievement&type=1'>著作</a>
                    <a href='/showArticle/catalog?sort=achievement&type=2'>学术论文</a>
                    <a href='/showArticle/catalog?sort=achievement&type=3'>研究报告</a>
                </div>
            </li>
            <li class='nav_item'>
                <a href=''>学术交流
                   
                </a>
                <div class='item_content'>
                    <a href='/showArticle/catalog?sort=exchange&type=1'>学术年会</a>
                    <a href='/showArticle/catalog?sort=exchange&type=2'>流通论坛</a>
                    <a href='/showArticle/catalog?sort=exchange&type=3'>来访交流</a>
                </div>
            </li>           
             <li class='nav_item'>
                <a href='#'> 机构介绍                  
                </a>
                <div class='item_content'>
                    <a href='/introduction/index'>简介</a>
                   
                    <a href="/introduction/researchdir">机构设置</a>
                    <a href='/introduction/team/catalog'>专家团队</a>
                </div>
            </li>
        </ul>
    </div>
  
</header>