


.boxRight{
    width: 800px;
    /* border: 1px solid rgb(230, 230, 230); */
}
.part-title{
    margin-top: 10px;
}
.tit{
    margin-top: 12.8px;
    margin-left: 38.4px;
}
.boxRight .tit a{
    font-size: 33.28px;
    color: #FF9D54;
}
/*标题下面的横线*/
.tit::after{
    content: '';
    display: inline-block;
    width: 95%;
    height: 1px;
    background-color: gray;
}

.detail{
    position: relative;
    min-height: 400px;
}
.detail ul{
   
    width: 100%;
    margin: 10px auto;
}

.detail ul li{
    /*list-style-type: square;*/
    margin-top: 12.8px;
    font-size: 16px;
    padding-bottom: 30px;
    border-bottom:1px solid rgb(209, 209, 209);
}


.new-box{
    margin-top: 20px;
}

.new-content-summary{
    margin-left: 12.8px;
    color: rgb(51, 51, 51);
}
.new-title{
    color: #006771;
    
}
.new-img{
    width: 30%;
    height: 150px;
    float: left;
}

.new-content{
    height: 150px;
    float: left;
    width: 59%;
    margin-left:20px;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}

.new-content:hover,.new-content-other a:hover{
   color: #007579;
}
.new-content-data {
    display: inline-block;
    margin-top: 30px;
    width: 100%;
    text-align: right;
}
.new-content-data-other span,.new-content-data span{
    padding: 2px 15px;
    font-size: 15px;
}
.new-content-data-other span:nth-child(n+2),.new-content-data span:nth-child(n+2){
    border-left: 1px solid rgb(189, 188, 188)
    
}    
.new-content-other{
    max-height: 150px;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}
.new-content .new-content-summary{
    font-size: 15px;
}
.new-content-data-other{
    text-align: right;
    width: 100%;
}
.new-content {
   
}
.data-time::before,.data-browse::before,.data-praise::before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 7px -2px 0;
}
.data-time::before{
    background: url('/images/icons/time.png') no-repeat center;
    background-size: 100% 100%;
    
}
.data-browse::before{
    background: url('/images/icons/browse.png') no-repeat center;
    background-size: 100% 100%;
    
}
.data-praise::before{
    background: url('/images/icons/praise_1.png') no-repeat center;
    background-size: 100% 100%;
    
}
/*分页组件*/
.M-box{
    /* float: left;
    top: 870.4px;
    left: 420px; */
    max-width:90%;
    margin: 100px auto;
}

.s-bar{
    float: right;
    position: relative;
  }
  
 
  
  .search-icon{
    width: 40px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
    background: url('/images/icons/search.png') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 240px;
    top: 5px;
  }
  
  .search-input
  {
      width: 280px;
      height: 41px;
      color: #bababa;
      font-size: 14px;
      border:1px #ececec solid;
      line-height: 34px;
      padding: 0 50px 0 25px;
      background: #f9f9f9;
      border-radius: 1px 0 0 1px;
      vertical-align: middle;
      text-align: left;

  }
  .search-btn{
      width: 100px;
      cursor: pointer;
      transition: background-color .5s;
      
  }
  .search-btn:hover{
      background-color: #007579;
      color: white;
  }
  .search-input:focus {
    outline:none;
    border: 1px solid #06A3B1;
  }


  

