


.boxRight{
    width: 800px;
    /* border: 1px solid rgb(230, 230, 230); */
}
.part-title{
    margin-top: 10px;
}
.tit{
    margin-top: 12.8px;
    margin-left: 38.4px;
}
.boxRight .tit a{
    font-size: 33.28px;
    color: #FF9D54;
}
/*标题下面的横线*/
.tit::after{
    content: '';
    display: inline-block;
    width: 95%;
    height: 1px;
    background-color: gray;
}

.detail{
    position: relative;
    min-height: 400px;
}
.detail ul{
   
    width: 100%;
    margin: 10px auto;
}

.detail ul li{
    /*list-style-type: square;*/
    margin-top: 12.8px;
    font-size: 16px;
    padding-bottom: 30px;
    border-bottom:1px solid rgb(209, 209, 209);
}



.detail ul li a{
    margin-left: 12.8px;
    font-size: 19.2px;
    color: rgb(51, 51, 51);
}
.new-title{
    color: #006771;
    
}
.new-img{
    width: 30%;
    height: 150px;
}

.new-content{
    display: inline-block;
    height: 150px;
    width: 69%;

}
.new-content a{
    display: inline-block;
    width: 100%;
    height: 80%;    
    font-size: 20px;
    overflow: hidden;
}
.new-content-data {
    display: inline-block;
    width: 100%;
    text-align: right;
}
.new-content-data-other span,.new-content-data span{
    padding: 2px 15px;
    font-size: 15px;
}
.new-content-data-other span:nth-child(n+2),.new-content-data span:nth-child(n+2){
    border-left: 1px solid rgb(189, 188, 188)
    
}    
.new-content-other{
    display: block;
    height: 100%;    
    
}
.new-content-data-other{
    text-align: right;
    width: 100%;
}
.datail-warm{
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
    font-size: 45px;
    letter-spacing: 10px;
    color: gray;
}
/*分页组件*/
.M-box{
    /* float: left;
    top: 870.4px;
    left: 420px; */
    max-width:90%;
    margin: 100px auto;
}

.s-bar{
    display: inline-block;
    float: right;
  }
  
  .s-icon{
    float: left;
    position: relative;
    left: 30px;
    top: -7px;
  }
  
  .s-icon img{
    width:20px;
    height: 20px;
    text-indent: 10em;
  }
  
  #search-input{
    width: 205px;
    height: 31px;
    text-indent: 3em;
    color: #b3b3b3;
    border: 1px solid #e6e6e6;
  }
  

