@charset "UTF-8";
body, html {
  font: 14px/1.5 ,"PingFang SC","微软雅黑","Microsoft YaHei",Helvetica,"Helvetica Neue",Tahoma,Arial,sans-serif;
}

body, div, span, header, footer, nav, section, aside, article, ul, ol, dl, dt, dd, li, a, p, h1, h2, h3, h4, h5, h6, i, b, textarea, button, input, select, figure {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  color: #333;
  font-weight: normal;
  font-family: "Microsoft Yahei";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  /*兼容ie*/
  border: 0px;
}

/*共用*/
/*每个框左上角的title*/
.part-title {
  display: block;
  font-weight: bolder;
  font-size: 30px;
  position: relative;
  margin-bottom: 40px;
}

/*标题后面的英文*/
.part-title::after {
  content: "";
  color: #999999;
  font-style: italic;
  font-size: 20px;
  margin-left: 8px;
}

/*标题下面的横线*/
.part-title::before {
  content: '';
  width: 100%;
  height: 3px;
  background-color: #006771;
  margin-bottom: -10px;
  position: absolute;
  bottom: 0;
}

.container-types {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
  overflow: hidden;
}

/*顶部栏*/
header {
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0 12px 24px 0 rgba(7, 17, 27, 0.2);
  box-shadow: 0 12px 24px 0 rgba(7, 17, 27, 0.2);
  font-size: 15px;
  -webkit-box-shadow: 10px 10px 50px 10px rgba(7, 17, 27, 0.06);
  box-shadow: 10px 10px 50px 10px rgba(7, 17, 27, 0.06);
  margin-bottom: 30px;
  text-align: center;
}

/*顶部栏导航*/
.header_name {
  width: 820px;
  height: 125px;
  margin: 0 auto;
  background: white;
}

.header_logo {
  display: inline-block;
  height: 100%;
  float: left;
}

.header_logo a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 125px;
}

.logo_img {
  width: 210px;
  /*兼容ie*/
  border: 0px;
}

.header_banner {
  display: inline-block;
  vertical-align: top;
  float: right;
  height: 100%;
  line-height: 125px;
  margin-right: 20px;
}

.banner_a1 {
  font-size: 24px;
  color: #06A3B1;
}

.header_nav {
  width: 100%;
  height: 90px;
  background: #06A3B1;
  /* 一些不支持背景渐变的浏览器 */
}

/*顶部栏导航栏子栏目*/
.nav_box, .header_top {
  display: inline-block;
  margin: 0 auto;
  min-width: 900px;
  height: 100%;
}

.nav_item {
  float: left;
}

.nav_item a {
  display: block;
  color: white;
  text-align: center;
  font-size: 16px;
}

.nav_item > a {
  line-height: 90px;
  width: 120px;
  font-weight: bolder;
}

/*访问导航栏变色*/
a:hover {
  color: #ebaa6e !important;
}

/*内容可能会溢出*/
.contont-overflow {
  overflow: hidden;
}

/*导航栏箭头*/
.nav_icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../images/icons/nav_toBottom.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-bottom: -9px;
  -webkit-transition: transform .5s;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

/*导航栏让箭头旋转*/
.nav_item > a:hover .nav_icon {
  -webkit-transform-origin: center center;
  transform-origin: center center;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -moz-transform: rotate(180deg);
  /* Firefox */
  -webkit-transform: rotate(180deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(180deg);
  /* Opera */
}

/*导航栏子栏目*/
.item_content {
  display: none;
  position: absolute;
  background-color: #06A3B1;
  top: 100%;
  z-index: 1000;
  -webkit-transition: transform .5s;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  margin-left: -20px;
  -webkit-transition: height .4s;
  transition: height .4s;
  /*导航栏子栏目中的小箭头*/
}

.item_content a {
  font-size: 15px;
  padding: 12px 100px 12px 20px;
  width: 100%;
  text-align: left;
  display: block;
}

.item_content a:hover {
  background-color: #006771;
}

/*底部栏*/
footer {
  width: 100%;
  height: 190px;
  padding: 36px 0;
  background-color: #f8fafc;
  -webkit-box-shadow: 0 -2px 8px 0 rgba(7, 17, 27, 0.06);
  box-shadow: 0 -2px 8px 0 rgba(7, 17, 27, 0.06);
}

.footer-box {
  width: 80%;
  margin: 0 auto;
}

.footer-link {
  text-align: center;
  margin-bottom: 10px;
}

.footer-link a {
  color: #99a1a6;
  margin-right: 40px;
}

.footer-link a:hover {
  color: black;
}

.footer-copyright {
  padding-top: 10px;
  text-align: center;
}

.footer-copyright p {
  color: #99a1a6;
  font-size: 17px;
  cursor: default;
}

.copyright-left {
  display: inline-block;
}

.copyright-right {
  display: inline-block;
  margin-left: 100px;
}

/*
两列布局
*/
.boxLeft {
  float: left;
  width: 280px;
  margin-right: 100px;
}

.boxRight {
  float: left;
}

/*左侧导航栏上面的装饰*/
.navTitle {
  width: 100%;
  height: 64px;
  line-height: 64px;
  margin-bottom: 25.6px;
  position: relative;
  border-bottom: 5px solid #FF9D54;
}

/*文字*/
.navTitle a {
  font-size: 25.6px;
  text-decoration: none;
  color: #6C6E6C;
}

/*左侧导航栏*/
.itemUl {
  width: 100%;
  background-color: #f5f5f5;
  display: block;
  border-top: 1px solid #BEBEBE;
  border-left: 1px solid #BEBEBE;
  border-right: 1px solid #BEBEBE;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12), 0 0 16px 0 rgba(0, 0, 0, 0.04);
}

.itemLi {
  width: 100%;
  list-style: none;
  display: block;
  margin-top: 11.52px;
  border-bottom: 1px solid #BEBEBE;
  cursor: pointer;
}

.itemLi a {
  display: block;
  width: 100%;
  margin: 12.8px;
  text-decoration: none;
  font-size: 19.2px;
  color: #565656;
  line-height: 25.6px;
  padding-left: 12.8px;
}

.itemLi a:hover {
  color: #FF9D54;
}

::selection {
  background: #FF9D54;
  color: whitesmoke;
}

.side-article {
  margin-top: 50px;
}

.hot-Item::before {
  content: "\02022";
  color: #006771;
  font-size: 25px;
}

.hot-Item a {
  margin-left: 10px;
  font-size: 17px;
}

/*默认选中第一个,用ID选择器提高优先级*/
#active {
  color: #FF9D54;
}
