
.fl {
  float: left;
}
 .pageBox {
  height: 30px;
  line-height: 30px;
 
  text-align: center;
}
 .pageBox button {
  padding: 0 10px;
  height: 30px;
  float: left;
  cursor: pointer;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
}
 .pageBox .first-page,
 .pageBox .last-page {
  margin: 0;
}

 

 .pageBox .pageWrap {
  height: 30px;
  float: left;
  overflow: hidden;
}
 .pageBox .pageWrap ul {
  width: 100000px;
  height: 30px;
  float: left;
}
 .pageBox .pageWrap ul li {
  width: 60px;
  height: 30px;
  border: 1px solid #ebebeb;
  line-height: 30px;
  box-sizing: border-box;
  cursor: pointer;
  float: left;
}
 .pageBox .pageWrap ul .sel-page {
  background-color: #FF9D54;
}
 .pageBox .jump-text {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  text-align: center;
  float: left;
}
 .pageBox .jump-button {
  float: left;
}
 .pageBox .total-pages,
 .pageBox .total-count {
  float: left;
  font-size: 14px;
}
