<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>友情链接</title>
    <link rel="stylesheet" href="../style/common.min.css">
    <link rel="stylesheet" href="../style/frinedLink.css">
        <script type="text/javascript" src="js/jquery-1.11.min.js"></script>

    <script type="text/javascript" src='js/common.js'></script>
</head>

<body>
    <%- include('./component/header')%>

<div class="container container-types">
    <div class="content">
        <div class="content-header">
            <h2>友情链接</h2>
            <p>展示本站所有友情站点，排列不分先后</p>
            <div class="line"></div>

        </div>
        <ul class="plink">
            <li><a href="http://www.gdufe.edu.cn/">广东财经大学</a></li>
            <li><a href="http://kesum.blog.163.com/">王先庆博客</a></li>
            <li><a href="http://www.kesum.com/">开商网</a></li>
            <li><a href="http://www.zgltzyw.org/">中国流通管理政研网</a></li>
            <li><a href="http://www.85kr.com/">中国流通研究院</a></li>
    
          
        </ul>

    </div>

</div>
    <%- include('./component/footer') -%>

</body>

</html>