<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>友情链接</title>
    <link rel="stylesheet" href="../style/common.css">
    <link rel="stylesheet" href="../style/frinedLink.css">
    <script type="text/javascript" src="js/jquery-1.11.min.js"></script>

    <script type="text/javascript" src='js/common.js'></script>
</head>

<body>
    <%- include('./component/header')%>

<div class="container container-types">
    <div class="content">
        <div class="content-header">
            <h2>友情链接</h2>
            <p>展示本站所有友情站点，排列不分先后</p>
            <div class="line"></div>

        </div>
        <ul class="plink">
         <%if(!!links){%>
             <%for(var i =0,len=links.length;i < len;i++){%>
            <li><a href="<%=links[i].link%>"><%=links[i].name%></a></li>
            <%}}%>
        </ul>

    </div>

</div>
    <%- include('./component/footer') -%>

</body>

</html>